$black:#17181c;
$gray:rgb(71,71,71);
$phones-media: 479px;
@mixin phone-width() {
    @media all and (max-width: $phones-media) {
        @content;
    }
}
.header {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid gray;
    background: linear-gradient(
        45deg,
        rgba(71, 182, 156, 0.589),
        rgb(187, 177, 44)
    );
    h1 {
        margin: 0;
    }
    &__input {
        max-width: 270px;
        width: 100%;
        border: none;
        background: $black;
        padding: 10px;
        color: white;
        margin: 15px 0;
        outline: none;
        font-size: 16px;
        @include phone-width {
            max-width: 210px;
        }
    }
    &__submit {
        width: 69px;
        background: #30333b;
        color: white;
        border: none;
        padding: 10px;
        outline: none;
        font-size: 16px;
        cursor: pointer;
    }
}
.list {
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 9px 0;
        max-width: 360px;
        width: 100%;
    }
    &-item {
        position: relative;
        padding: 6px 12px 6px 36px;
        color: white;
        transition: 0.3s;
        cursor: pointer;
        user-select: none;
        
        &__done {
            position: absolute;
            border-color: rgb(94, 94, 94);
            border-style: solid;
            border-width: 1px;
            border-radius: 50%;
            top: 5px;
            left: 6px;
            height: 24px;
            width: 24px;
            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    border-color: rgb(0, 233, 58);
                    border-style: solid;
                    border-width: 0 2px 2px 0;
                    top: 2px;
                    left: 8px;
                    transform: rotate(45deg);
                    height: 15px;
                    width: 7px;
                }
            }
        }
        &-title{
            display: inline-block;
            width: 90%;
            word-break: break-all;
        }
        &__input {
            background: $black;
            color:white;
            border: none;
            outline: none;
            font-size: 20px;
            height: 26px;
            width: 210px;
        }
        &__delete {
            position: absolute;
            right: 0;
            top: 0;
            padding: 6px 12px;
            &:hover {
                background: $gray;
                color: red;
            }
        }
    }
}
.checked {
    background: $gray;
    text-decoration: line-through;
    &:hover {
        background: $gray;
    }
    &::before {
        content: "";
        position: absolute;
        border-color: rgb(0, 233, 58);
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 8px;
        left: 15px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }
}
.check{
    text-decoration: line-through;
    color:gray
}